body {
    background-color: #1D2021;
    color: #f0f0f0;
    font-family: "Noto Sans JP";   
}

#content {
    padding: 30px;
    max-width: 600px;
    margin: auto;
}

#default {
    font-size: 32px;
    text-align: center;
    color: #c0c0c0;
    display: none;
}

.big {
    font-size: 64px;
    font-weight: bold;
}